@import './base.css';

body {
  overflow: hidden;
  background-size: cover;
  background: transparent;
  user-select: none;
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* *::-webkit-scrollbar {
  width: 1.25rem;
}

*::-webkit-scrollbar-track {
  background-color: #121212;
}

*::-webkit-scrollbar-thumb {
  background-color: #333333;
} */
