Package: monroe
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Depends: plymouth, pcscd, pcsc-tools, libpcsclite1
Maintainer: tech@monroe.solutions
Description: CashVault frontend (Electron) and backend (.NET) packaged together.
